.header {
    position: fixed;
    top: 0;
    height: 100px;
}

.loggedInUser {
    position: absolute;
    right: 0;
    margin-right: 10px;
    color: ivory;
}

.loggedInUserName {
    box-shadow: 3px 3px 4px 2px #b0b6c1;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
}
