.profilePhotoAndData {
    display: flex;
    padding: 10px;
}

.profilePhoto {
    width: 40%;
    padding-right: 20px;
}

.profileData {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.profileData form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.formControlItem {
    width: 100%;
}

.profileDataButton {
    align-self: flex-end;
}

.status {
    margin-top: 10px;
}

.profilePhoto img {
    width: 100%;
    height: auto;
}

.description {
    margin-bottom: 10px;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
    width: 200px;
}