.app-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
                            "h h h"
                            "l c r";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr 2fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: lightgray;
}


